{% extends 'base.html' %}

{% block includejs %}
<script>
$(function () {
    setTimeout(function () {
        window.location.href = "{% url 'index:index' %}";
    }, 3000);
});
</script>
{% endblock %}
    
{% block content %}
<div style="text-align: center;">
    Hello {{ user.first_name }}
</div>
{% endblock %}
    