{% extends 'base.html' %}
{% load static %}

{% block includecss %}
<link rel="stylesheet" type="text/css" href="{% static 'autses/css/loginstyle.css' %}">
{% endblock %}

{% block content %}

<div class="centerized-div" style="margin-top: 20px;">
    <div>
        <div id="message-container">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </div>
        
        <div>
            {% if next %}
                {% if user.is_authenticated %}
                <p style="text-align: center;">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p style="text-align: center;">Please login to see this page.</p>
                {% endif %}
            {% endif %}
        </div>
        
        <div>
            <form method="post" action="{% url 'autses:login' %}">
            {% csrf_token %}
            <div class="centerized-div">
                <div>
                    <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    </table>
                
                    <div class="centerized-div">
                        <input type="submit" value="login">
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{% url 'autses:loggedin' %}">
            </form>
        </div>
    </div>
</div>

{% endblock %}