{% extends 'base.html' %}

{% block includejs %}
<script>
$(function () {
    setTimeout(function () {
        window.location.href = "{% url 'index:index' %}";
    }, 3000);
});
</script>
{% endblock %}

{% block content %}
<div class="centerized-div" style="text-align: center;">
    You've been logged out <br> You'll be redirected in a few seconds
</div>
{% endblock %}
    