{% extends 'base.html' %}
{% load static %}

{% block includecss %}
<link rel="stylesheet" type="text/css" href="{% static 'booksf/css/booksfinder.css' %}">
{% endblock %}

{% block includejs %}
<script src="{% static 'booksf/js/booksfinder.js' %}"></script>
{% endblock %}

{% block title %}Where You Find Book{% endblock %}

{% block content %}
<div id="title-bar">
    The Title
</div>
<div class="row">
    <div class="col-0  col-lg-2"></div>
    <div class="col-12 col-lg-8">
        <div id="search-field">
        {% for field in search_form %}
            <label for="{{ field.auto_id }}" class="input-label">{{ field.label }} : </label>{{ field }}
        {% endfor %}
        </div>
        <button id="search-button">
            Search
        </button>
    </div>
    <div class="col-0  col-lg-2"></div>

    <div class="col-1 "></div>
    <div class="col-10">
        <div>
            <pageidx>0</pageidx>/<pagecount>0</pagecount>
        </div>
        <div id="nav-button">
            <div>
                <button id="prev-button">
                    Prev
                </button>
            </div>
            <div>
                <select id="result-count">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
            </div>
            <div>
                <button id="next-button">
                    Next
                </button>
            </div>
        </div>
        <div id="search-result">
            <table id="result-table">
                <tr>
                    <th class="tc-1"><div class="table-text">Title</div></th>
                    <th class="tc-2"><div class="table-text">Description</div></th>
                    <th class="tc-3"><div class="table-text">Cover</div></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-1 "></div>
</div>
{% endblock %}