table {
    width: 100%;
}

th, td {
    border-style: solid;
    border-width: 3px;
}

td {
    vertical-align: top;
    border-width: 1px;
}

.input-label {
    margin-right: 20px;
}

.table-img {
    display: flex;
    justify-content: center;
}

.table-img img {
    max-width: 100%;
}

#content .table-text {
    position: relative;
    top: 0px;
    margin-left: 10px;
}

#content .tc-1 {
    width: 25%;
}

#content .tc-2 {
    width: 60%;
}

#content .tc-3 {
    width: 15%;
}

#content button, #content select {
    padding: 10px;
    height: 40px;
    background-color: darkcyan;
    border: none;
    color: white;
}

#content button:hover {
    background-color: rgb(0, 170, 170);
}

#content #nav-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#content #next-button {
    position: relative;
    right: 0%;
    margin-left: auto;
}

#content #search-button {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#content #search-field {
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#content #search-field::after {
    content: "";
    display: block;
}

#content #search-form {
    margin: auto;
}

#content #search-result {
    margin-top: 20px;
}

#content #title-bar {
    text-align: center;
    margin-top: 20px;
}
