{% extends 'base.html' %}
{% load static %}

{% block includecss %}
<link rel="stylesheet" type="text/css" href="{% static 'eventl/css/accordion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'eventl/css/colorpicker.css' %}">
{% endblock %}

{% block includejs %}
<script src="{% static 'eventl/js/accordion.js' %}"></script>
<script src="{% static 'eventl/js/getcolor.js' %}"></script>
{% endblock %}
    
{% block title %}
    Interesting Title
{% endblock %}


{% block content %}
<div class="row white">
    <div class="col-md-3 left-column"></div>
    <div class="col-10 col-md-6 main-col">
        <div class="card header-bar black">
            <h1>
                Extended Profile
            </h1>
        </div>

        <div class="accordion-container">
            <div class="accordion-card black">
                <h2 class="accordion-title">
                    Aktivitas
                </h2>
                <div class="accordion-content">
                    <p>
                        - Kuliah<br>
                        - Sinematografi
                    </p>
                </div>
            </div>
            <div class="accordion-card black">
                <h2 class="accordion-title">
                    Pengalaman Organisasi/Kepanitiaan
                </h2>
                <div class="accordion-content">
                    <p>
                        - Multimedia Sonic Linguistic 2017<br>
                        - Multimedia Sonic Linguistic 2018<br>
                        - Documentation and Animation Compfest 11<br>
                        - Animation and Video UIFF 2019
                    </p>
                </div>
            </div>
            <div class="accordion-card black">
                <h2 class="accordion-title">
                    Prestasi
                </h2>
                <div class="accordion-content">
                    <p>
                        TBA
                    </p>
                </div>
            </div>
        </div>

        <div id="fact-container">
            <p id="fact-text" class="black">

            </p>
            <br>
            <p id="fact-credit" class="black">
                generated using <a href="http://randomfactgenerator.net/" target="_blank">randomfactgenerator.net</a>
            </p>
            <br>
            <p id="color-button" class="black">
                Change<br>
                Background Color
            </p>
        </div>
        <div id="picker-container">
            <div id="color-picker">
                <div id="box1">
                    <div id="box2">
                        <div id="box3">

                        </div>
                        <div id="box4">
                            <div id="box5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 col-md-3">
        <div class="switch-button">
            <div class="switch-indicator">

            </div>
        </div>
        <h2 style="text-align: right;">Switch Theme</h2>
    </div>
</div>
{% endblock %}
