button {
    background-color: rgb(0, 43, 110);
    border: none;
    color: white;
}

button:hover {
    background-color: rgb(0, 22, 56);
}

#nav-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 14, 36);
    color: white;
    text-align: center;
}

#nav-bar #navigation-button {
    display: flex;
    justify-content: flex-start;
}

#nav-bar #user-button {
    display: flex;
    justify-content: flex-end;
}

#content {
    background-color: white;
    width: 100%;
}

.row {
    margin: 0px;
}

div.centerized-div {
    display: flex;
    justify-content: center;
}
