{% extends 'base.html' %}
{% load static %}

{% block title %}
The Story
{% endblock %}
    

{% block includecss %}
<link rel="stylesheet" type="text/css" href={% static 'css/index.css' %}>
{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>
            Halo, apa kabar?
        </h1>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <form method="post">
                    {% csrf_token %}

                    {{ post_form.as_p }}
                    <input id="id_submit_button" type="submit" value="Post">
                </form>
                
                {% if error %}
                    <error>
                        <div>
                            {{ error }}
                        </div>
                    </error>
                {% endif %}
                    
            </div>
            <div id="columns">                
                {% for post in post_list %}
                <postcard>
                    <div class="postcard">
                        <p>
                            {{ post.status_text }}
                        </p>
                        <p>
                            {{ post.status_time }}
                        </p>
                    </div>
                </postcard>
                {% endfor %}
                    
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}