#content #fact-container {
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;

    opacity: 0;
}

#content #color-button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#content #fact-credit {
    /* background-color: rgba(0, 0, 0, 0); */
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

#content #fact-text {
    /* background-color: rgba(0, 0, 0, 0); */
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

#content .accordion-card {
    margin-top: 20px;
    border-radius: 10px;
}

#content .row {
    margin: 0px;
    min-height: 101vh;
}

#content .accordion-title {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: none;

    transition: background-color 1s;
}

#content .black > .accordion-title {
    background-color: #222222;
}

#content .white > .accordion-title {
    background-color: #888888;
}

#content .accordion-content {
    display: none;
    padding: 20px 10px 30px 10px;
    font-size: 2vmax;
}

#content .accordion-container {
    margin-top: 20px;
    margin-bottom: 20px;
    background: none;
}

#content .white, #content .black {
    transition: background-color 1s, color 1s;
}

#content .black {
    background-color: black;
    color: white;
}

#content .white {
    background-color: white;
    color: black;
}

#content .header-bar {
    border-radius: 10px;
    text-align: center;
}

/* .header-bar.black {
    background-color: black;
    color: white;
}

.header-bar.white {
    background-color: white;
    color: black;
} */

#content .main-col {
    padding-top: 10px;
    min-height: 100vh;
    background-color: rgb(0, 11, 66);
    transition: background-color 1s;
}

/* .white .main-col {
    background-color: rgb(0, 11, 66);
}

.black .main-col {
    background-color: rgb(0, 26, 153);
} */

#content .switch-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    background-color: grey;

    cursor: pointer;
    height: auto;
    width: 80px;
    padding: 5px;

    transition: background-color 1s;
}

#content .switch-indicator {
    position: relative;
    /* margin-right: auto;
    margin-left: 0px; */
    /* margin: 0px auto 0px 0px; */
    left: 0%;
    /* right: 100%; */
    /* transform: translateX(50%); */
    height: 30px;
    width: 30px;
    background-color: white;

    transition: left 1s, transform 1s;
}

#content .switch-indicator.on {
    /* margin-left: auto;
    margin-right: 0px; */
    /* margin: 0px 0px 0px auto; */
    left: 100%;
    /* right: 0%; */
    transform: translateX(-100%);
}

@media (max-width : 1150px) {
    #content .col-2 {
        padding: 0px 5px;
    }
}

@media (max-width : 767px) {
    #content .left-column {
        display: none;
    }
}

@media (max-width : 600px) and (min-width : 400px) {
    #content h1, #content h2 {
        font-size: 25px;
    }

    #content #fact-container {
        font-size: 15px;
    }

    #content #fact-credit {
        font-size: 10px;
    }

    #content .accordion-content {
        font-size: 20px;
    }
}

@media (max-width : 400px) {
    #content h1, #content h2 {
        font-size: 20px;
    }

    #content #fact-container {
        font-size: 10px;
    }

    #content #fact-credit {
        font-size: 5px;
    }

    #content .accordion-content {
        font-size: 15px;
    }
}

@media (max-width : 600px) {
    #content .switch-button {
        margin: 10px auto;
        width: 100%;
    }

    #content .switch-indicator {
        width: 43%;
        height: unset;
    }

    #content .switch-indicator:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    #content #picker-container, #content #color-button {
        display: none;
    }
}
