#content {
    width: 100%;
}

#color-picker {
    display: none;
}

#box1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    background: conic-gradient(red, rgb(255,255,0), green, rgb(0, 255, 255), blue, rgb(255,0,255), red);
    width: 330px;
    height: 330px;
    border-radius: 50%;
}

#box2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 300px;
    background-color: white;
    margin: auto;
    border-radius: 50%;
}

#box3 {
    position: relative;
    left: 50%; top: 0%;
    transform: translate(-50%, -100%);

    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 5pt black;
    border-width: 1px;
    border-style: solid;
    cursor: grab;
}

#box3.clicked, #box4.clicked, .clicked {
    cursor: grabbing;
}

#box4 {
    position: relative;
    transform: rotate(-45deg);
    /* top: 58.578643763px; */
    margin: -15px auto 0px auto;
    height: 212.132034356px;
    width: 212.132034356px;
    background-color: black;
    cursor: grab;
}

#box5 {
    position: relative;
    left: 0%; top: 0%;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 0 3pt black;
}

#debug-box {
    text-align: center;
}