<!-- Base Html, Include bootstrap and jquery -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-reboot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block includecss %}{% endblock %}
    <script src="{% static 'js/jquery/jquery-3.4.1.js' %}"></script>
    {% block includejs %}{% endblock %}
    <title>{% block title %}Base Title{% endblock title %}</title>
    <style></style>
</head>
<body>
    <div id="nav-bar">
        <div class="row">
            <div class="col-lg-4" id="navigation-button">
                <div>
                    <a href="{% url 'index:index' %}">
                        <button>
                            Home
                        </button>
                    </a>
                    <a href="{% url 'accordion:base' %}">
                        <button>
                            Accordion
                        </button>
                    </a>
                    <a href="{% url 'booksfinder:base' %}">
                        <button>
                            Books Finder
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" id="center-content">
                Center Content
            </div>
            <div class="col-lg-4" id="user-button">
                <div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'autses:logout' %}">
                        <button>
                            Logout
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'autses:login' %}">
                        <button>
                            Login
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="content">
    {% block content %}
        
    {% endblock content %}
    </div>
</body>
</html>