#content body div.row {
    margin-top: 100px;
}

#content input[type="submit"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    margin-bottom: 20px;
    padding: 0px 40px 0px 40px;
}

/* div.col-1 {
    margin: 0px 0px;
    padding: 0px 0px;
} */

#content div {
    width: 100%;
}

#content div.row {
    margin: auto 0px;
}

#content p textarea {
    /* width: 500px;
    height: 300px; */
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#content div#columns postcard {
    display: flow-root;
    page-break-inside: avoid;
    /* break-after: avoid; */
    /* column-break-inside: avoid; */
    /* margin: 0px auto;
    width: 100%; */
}

#content #columns {
	column-width: 250px;
    column-gap: 10px;
    /* column-count: 3; */
    /* display: flow-root;
    page-break-inside: avoid; */
    /* justify-content: flex-start;
    align-content: flex-start; */

    width: 90%;
    margin: 50px auto;
}

#content .postcard {
    overflow-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    max-width: 100%; height: auto;
    margin: 1vh;
    padding: 5px 5px 0px 5px;
}